<div class="form_window">
    <h2>Восстановление аккаунта</h2>

    <div class="form_label">
        <form asp-controller="AccountRecovery" asp-action="Recovery" method="post">
            <button type="submit" class="btn btn-success">Восстановить аккаунт</button>
        </form>
    </div>

    <div class="form_label">
        <form asp-action="Logout" asp-controller="Login" method="post">
            <button type="submit" class="btn btn-danger">Выйти из аккаунта</button>
        </form>
    </div>

</div>
