@using GameTracker.Entity.Account
@using GameTracker.ViewModel.Account
@model UserLoginViewModel;

@{
    ViewData["Title"] = "Авторизация";
}

<div class="card text-white bg-dark mx-auto w-25 mt-5">
    <div class="card-header text-center">
        <h2 class="card-title">Авторизация</h2>
    </div>
    <div class="card-body">
        <form asp-area="" asp-controller="Auth" asp-action="Login" method="post">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="mb-2">
                <label for="login" class="form-label">Логин</label>
                <input asp-for="Login" class="form-control text-white bg-dark" id="login" required/>
                @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">Пароль</label>
                <input asp-for="Password" class="form-control text-white bg-dark" id="password" required />
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-success text-white mt-2 w-100 btn-lg rounded-3">Авторизоваться</button>
        </form>
    </div>
</div>