@using GameTracker.ViewModel.Account
@model UserLoginViewModel;

@{
    ViewData["Title"] = "Авторизация";
}

<div class="form_window">
    <form asp-action="Login" asp-controller="Login" method="post">
        <div asp-validation-summary="All" style="color: red"></div>
        <h2>Авторизация</h2>
        <div class="form_label">
            <label asp-for="Login">Логин: </label>
            <input asp-for="Login" />
        </div>
        <div class="form_label">
            <label asp-for="Password">Пароль: </label>
            <input asp-for="Password" />
        </div>
        <button class="button_submit" type="submit">Войти</button>
    </form>
</div>