@model GameTracker.ViewModel.Account.ConfirmRecoveryViewModel

<div class="confirm_email_window">
    <h2>Восстановление пароля</h2>
    <div class="form_window">
        <form asp-action="RecoveryPasswordEmail" asp-controller="PasswordRecovery" method="post" novalidate>
            <div asp-validation-summary="ModelOnly" style="color: red"></div>
            <div class="form_label">
                <label asp-for="Code">Введите код для восстановления пароля</label>
                <input asp-for="Code" />
                <span asp-validation-for="Code" style="color: red"></span>
            </div>
            <button class="button_submit">Отправить код подтверждения</button>
        </form>
    </div>
</div>