@model GameTracker.ViewModel.Account.ConfirmRecoveryViewModel
@{
    ViewData["Title"] = "Восстановление пароля";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-center">
                    <h2>Восстановление пароля</h2>
                </div>
                <div class="card-body">
                    <form asp-action="RecoveryPasswordEmail" asp-controller="PasswordRecovery" method="post" novalidate>
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                        
                        <div class="mb-3">
                            <label asp-for="Code" class="form-label">Введите код для восстановления пароля</label>
                            <input asp-for="Code" class="form-control" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        
                        <button type="submit" class="btn btn-primary w-100">Отправить код подтверждения</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>