@model GameTracker.ViewModel.Account.ResetPasswordViewModel

<div class="form_window">
    <form asp-action="ResetPassword" asp-controller="PasswordRecovery" method="post">
        <div asp-validation-summary="ModelOnly" style="colod: red"></div>
        <div class="form_label">
            <label asp-for="NewPassword">Новый пароль:</label>
            <input asp-for="NewPassword" />
            <span asp-validation-for="NewPassword" style="color: red"></span>
        </div>
        <div class="form_label">
            <label asp-for="ConfirmPassword">Подтвердите новый пароль:</label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" style="color: red"></span>
        </div>
        <button class="button_submit" type="submit">Сбросить пароль</button>
    </form>
</div>