html {
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background-color: #222;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.navbar {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    height: 60px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_button {
    height: 50px;
    color: white;
    border-style: none;
    background-color: rgba(0,0,0,0);
    font-size: 125%;
    font-weight: bold;
    cursor: pointer;
}

.navbar_button {
    height: 50px;
    color: white;
    border-style: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

textarea {
    background-color: #222;
    width: 100%;
    height: 80px;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.form_window {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #252525;
    padding: 20px;
    border: 1px solid #191919;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.form_label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

input {
    display: flex;
    flex: 1;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    padding: 10px;
}

.button_submit {
    background-color: darkgreen;
    border: none;
    border-radius: 5px;
    width: 75%;
    height: 40px;
    color: white;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
}

    .button_submit:hover {
        width: 80%;
    }

.button_danger {
    background-color: #800;
    border: none;
    border-radius: 5px;
    width: 35%;
    height: 40px;
    color: white;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

.button_default {
    background-color: #191919;
    border: none;
    border-radius: 5px;
    width: 75%;
    height: 40px;
    color: white;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, width 0.3s ease-in-out;
}

    .button_default:hover {
        background-color: #282828;
        width: 80%;
    }

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile_page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.confirm_email_window {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
}

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.4);
    width: 30%;
    height: 100%;
    border-radius: 10px;
}

.profile_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile_main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
}

.game_library {
    display: flex;
    flex-direction: row;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки */
    gap: 20px; /* Расстояние между карточками */
    padding: 20px;
}

.game_card {
    width: 460px;
    height: 420px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 2px solid #6495ED;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
    position: relative; /* Для абсолютного позиционирования */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Чтобы содержимое не сжималось */
    transition: all 0.3s;
}

    .game_card:hover {
        box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.8);
        transform: scale(1.03);
        transform-origin: center;
    }

.game-name{
        font-size: 24px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.game-year{
    font-size: 18px;
    text-align: center;
}

.game-image {
    width: 40vh;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

.game_card_description {
    padding: 10px;
    font-size: 14px;
    color: #ccc;
    flex: 1;
    overflow: hidden;
}

.game_card:hover {
    transform: scale(1.1); /* Увеличиваем изображение */
}

.game_card:hover .game_card_description {
    transform: scale(1.1); /* Плавное увеличение описания */
    transition: transform 0.3s ease;
}

.moderator_window {
    margin-top: 20px;
}

.library_window {
    margin-top: 20px;
}
