@model GameTracker.ViewModel.MakeModeratorViewModel;

<div class="admin_window">
    <h1>Назначить модератором</h1>
    <form asp-action="MakeModerator" asp-controller="Admin">
        <div class="form_label">
            <label asp-for="Login">Введите логин пользователя</label>
            <input asp-for="Login" />
            <span asp-validation-for="Login" style="color: red"></span>
        </div>
        <button class="button_submit" type="submit">Подтвердить</button>
    </form>
</div>