@model GameTracker.ViewModel.Account.ConfirmEmailViewModel

<div class="confirm_email_window">
    <h2>Подтвердите ваш Email</h2>
    <form asp-action="SendCode" asp-controller="Profile" method="post">
        <button class="button_submit">Отправить код подтверждения</button>
    </form>
    <form asp-action="ConfirmEmail" asp-controller="Profile" method="post">
        <div asp-validation-summary="All" style="color: red"></div>
        <div class="form_window">
            <div class="form_label">
                <label asp-for="Code">Код подтверждения</label>
                <input asp-for="Code" />
            </div>
            <button class="button_submit" type="submit">Подтвердить Email</button>
        </div>
    </form>
</div>