<!DOCTYPE html>
<html lang="ru">

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameTracker</title>
    <script type="importmap"></script>
    <!---<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/GameTracker.styles.css" asp-append-version="true" /> -->
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
</head>

<body>
    <header>
        <div class="navbar">
            <a asp-action="Index" asp-controller="Home"><button class="main_button">GameTracker</button></a>
            @if (User.Identity.IsAuthenticated)
            {
                <div>
                    <a asp-action="Page" asp-controller="Profile"><button class="navbar_button">@User.Identity.Name</button></a>
                </div>
            }
            else
            {
                <div>
                    <a asp-action="Login" asp-controller="Login"><button class="navbar_button">Вход</button></a>
                    <a asp-action="Registration" asp-controller="Registration"><button class="navbar_button">Регистрация</button></a>
                </div>
            }
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>