@model GameTracker.ViewModel.Games.UserGameLibraryViewModel

@if (Model.UserGames != null)
{
    <div class="game-container">
        @foreach (var game in Model.UserGames)
        {
            <a asp-controller="Catalog"
               asp-action="Game"
               asp-route-gameId="@game.Id">
                <div class="game_card">
                    <img src="@game.ImageUrl" />

                    <h2 class="game-name">@game.Name</h2>

                    <p class="game-year">(@game.Year)</p>
                </div>
            </a>
        }
    </div>
}
else
{
    <p>Ваша игровая библиотека пуста.</p>
}